<!DOCTYPE HTML>
<html>
<head>
<title>Tweets Analyzer</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
  <body>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  function validateForm()
  {
   var x=document.forms["search_form"]["content"].value;
   if ( x == null || x == "")
   {
    document.getElementById('toggle').style.display = 'block';
    return false;
   } 
  }
  </script>
  <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
  <a class="brand"> Tweets Analyser </a>
  <ul class="nav">
  <li class="active"><a href="/">Search</a></li>
  <li><a href="/buzz">Buzzs</a></li>
  <p class="navbar-text pull-left">{{ currentUser }} <a href="{{ url }}">{{ url_linktext }}</a></p>
  </ul>
  </div>
  </div>

  
  <div class="hero-unit">
    <h2 align="center">Hello, Dear {{ currentUser }} !!</h2>
    <center><H2>Your search begins here... </H2>
    <br>
    <form name="search_form" class="form-search" onsubmit="return validateForm()" action="/search" method="post">
      <input type="text" class="input-xxlarge search-query" id="focusedInput" placeholder="Text input" name="content"><br><br>
      <input type="submit" value="Search!" class="btn btn-large btn-primary">
    </form>
    
    <div id="toggle" style="display:none" class="alert alert-error">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <strong>Oh snap!!</strong> Enter a few things and try submitting again.
    </div>

    </center>
    {% if dict|length != 0 %}
    <p align="center" class="text-warning">Showing {{ dict|length }} most recently discusses about: {{keyword}} ...</p>
    <p align="center" class="text-success"> {{ stas['positive'] }} of those discusses about {{ keyword }} is positive!</p>
    <p align="center" class="text-info">{{ stas['neutral'] }} of those discusses about {{ keyword }} is neutral!</p>
    <p align="center" class="text-error">{{ stas['negative'] }} of those discusses about {{ keyword }} is negative!</p>
    {% if num != 0%}
    <p align="center" class="muted">Sorry, {{num}} of those discusses about {{ keyword }} we are having problem with analyzing them</p>
    {% endif %}
    {% for result in dict %}
    <p class="text-info"><img src="{{result["profile_image_url"]}}" class="img-rounded"> {{result["from_user_name"]}}</p>
    <p>{{ result["text"] }}</p>
    {% endfor %}
    {% endif %}
  </div>  
    
  

  </body>
</html>